<!--
 | This is the configuration file for Maven. It can be specified at two levels:
 |
 |  1. User Level. This settings.xml file provides configuration for a single user,
 |                 and is normally provided in $HOME/.m2/settings.xml.
 |
 |                 NOTE: This location can be overridden with the system property:
 |
 |                 -Dorg.apache.maven.user-settings=/path/to/user/settings.xml
 |
 |  2. Global Level. This settings.xml file provides configuration for all maven
 |                 users on a machine (assuming they're all using the same maven
 |                 installation). It's normally provided in
 |                 ${maven.home}/conf/settings.xml.
 |
 |                 NOTE: This location can be overridden with the system property:
 |
 |                 -Dorg.apache.maven.global-settings=/path/to/global/settings.xml
 |
 | The sections in this sample file are intended to give you a running start at
 | getting the most out of your Maven installation. Where appropriate, the default
 | values (values used when the setting is not specified) are provided.
 |
 |-->
<settings>
 <!--  localRepository
   | The path to the local repository maven will use to store artifacts.
   |
   | Default: ~/.m2/repository
  <localRepository>d:/java/maven2/repository</localRepository>
  -->
  <localRepository>D:/java/exo-dependencies/repository</localRepository>
  <servers>
    <server>
      <id>objectweb</id>
      <username>username</username>
      <password>password</password>
      <!-- other optional elements:
      <privateKey>/path/to/identity</privateKey> (default is ~/.ssh/id_dsa)
      <passphrase>my_key_passphrase</passphrase>
      -->
    </server>
  </servers>
  <!--
  <proxies>
    <proxy>
      <id></id>
      <active>true</active>
      <protocol>http</protocol>
      <username></username>
      <password></password>
      <host></host>
      <port></port>
      <nonProxyHosts></nonProxyHosts>
    </proxy>
  </proxies>
  -->
  <offline>false</offline>
  <profiles>

    <profile>
      <id>maven2.repo</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <repositories>
        <!--repository>
          <id>vietnam</id>
          <name>Viet Nam LAN Offical Repository</name>
          <url>http://vnserver.exoplatform.org/maven2</url>
          <layout>default</layout>
        </repository-->
        <repository>
          <id>maven.org</id>
          <name>maven.org repository</name>
          <url>http://repo1.maven.org/maven2</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>exo-int</id>
          <name>exoplatform.org internal repository</name>
          <url>http://maven2.exoplatform.org/rest/maven2</url>
          <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>
        <!--pluginRepository>
          <id>vietnam</id>
          <name>Viet Nam LAN Offical Repository</name>
          <url>http://vnserver.exoplatform.org/maven2</url>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository-->
        <pluginRepository>
          <id>maven.org</id>
          <name>maven.org repository</name>
          <url>http://repo1.maven.org/maven2</url>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>exoplatform.org</id>
          <name>exoplatform.org internal repository</name>
          <url>http://maven2.exoplatform.org/rest/maven2</url>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>v2.x</id>
      <activation><activeByDefault>false</activeByDefault></activation>
      <properties>
        <exo.directory.base>D:/java</exo.directory.base>
        <exo.directory.v2.x>${exo.directory.base}/projects/v2.x</exo.directory.v2.x>
        <exo.directory.dependencies>${exo.directory.base}/exo-dependencies</exo.directory.dependencies>
        <exo.directory.release>${exo.directory.base}/exo-release</exo.directory.release>
        <exo.directory.working>${exo.directory.base}/exo-working</exo.directory.working>
        <exo.shared.dir>${exo.directory.base}</exo.shared.dir>
        <exo.server.tomcat>tomcat-5.0.28</exo.server.tomcat>
        <exo.server.jboss>jboss-4.0.3SP1</exo.server.jboss>
        <exo.server.jonas>JONAS_4_7_4</exo.server.jonas>
        <exo.perftest.jmeter>jakarta-jmeter-2.2</exo.perftest.jmeter>

        <exo.test.skip>true</exo.test.skip>
        <exo.test.failure.ignore>true</exo.test.failure.ignore>
        <exo.test.use.file>true</exo.test.use.file>
        <exo.test.includes>Test*</exo.test.includes>
        <exo.compile.optimize>true</exo.compile.optimize>
      </properties>
    </profile>

    <profile>
      <id>exo-projects</id>
      <activation><activeByDefault>false</activeByDefault></activation>
      <properties>
        <exo.projects.directory.base>D:/java</exo.projects.directory.base>
        <exo.projects.directory.src>${exo.projects.directory.base}/projects/exo-projects</exo.projects.directory.src>
        <exo.projects.directory.config>${exo.projects.directory.src}/tools/trunk/config</exo.projects.directory.config>
        <exo.projects.directory.dependencies>${exo.projects.directory.base}/exo-dependencies</exo.projects.directory.dependencies>
        <exo.projects.directory.release>${exo.projects.directory.base}/exo-release</exo.projects.directory.release>
        <exo.projects.directory.working>${exo.projects.directory.base}/exo-working</exo.projects.directory.working>
        <exo.projects.app.mvn.repo>${exo.projects.directory.dependencies}/repository</exo.projects.app.mvn.repo>
        <exo.projects.app.tomcat.version>tomcat-6.0.13</exo.projects.app.tomcat.version>
        <exo.projects.app.jboss.version>jboss-4.2.0.GA</exo.projects.app.jboss.version>
        <exo.projects.app.jonas.version>JONAS_4_8_5</exo.projects.app.jonas.version>

        <exo.test.skip>true</exo.test.skip>
        <exo.test.forkmode>never</exo.test.forkmode>
        <exo.test.classesdirectory>target/classes</exo.test.classesdirectory>
        <exo.test.failure.ignore>true</exo.test.failure.ignore>
        <exo.test.error.ignore>true</exo.test.error.ignore>
        <exo.test.use.file>true</exo.test.use.file>
        <exo.test.includes>Test*</exo.test.includes>
        <exo.compile.optimize>true</exo.compile.optimize>
      </properties>
    </profile>

    <profile>
      <id>tomcat-server</id>
      <activation>
        <property><name>tomcat</name></property>
        <activeByDefault>false</activeByDefault>
      </activation>
    </profile>

    <profile>
      <id>jboss-server</id>
      <activation>
        <property><name>jboss-server</name></property>
        <activeByDefault>false</activeByDefault>
      </activation>
    </profile>

    <profile>
      <id>jonas-server</id>
      <activation>
        <property><name>jonas-server</name></property>
        <activeByDefault>false</activeByDefault>
      </activation>
    </profile>

    <profile>
      <id>jmeter-perftest</id>
      <activation>
        <property><name>jmeter-perftest</name></property>
        <activeByDefault>false</activeByDefault>
      </activation>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>exo-projects</activeProfile>
    <activeProfile>tomcat-server</activeProfile>
    <activeProfile>maven2.repo</activeProfile>
    <!--
    <activeProfile>v2.x</activeProfile>
    <activeProfile>tomcat-server</activeProfile>
    <activeProfile>jboss-server</activeProfile>
    <activeProfile>jonas-server</activeProfile>
    <activeProfile>vnserver.maven2.repo</activeProfile>
    <activeProfile>jmeter-perftest</activeProfile>
    -->
  </activeProfiles>
</settings>
